@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.App {
  text-align: center;
  padding: 0;
  margin: 0;
  
}

.hero__div {
  background-color: #4E944F;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
}

.hero__h1 {
  animation-name: example;
  animation-duration: 4s;
  color: rgb(10, 82, 10);
  text-shadow: 2px 2px black;
}

@keyframes example {
  from {color: green;}
  to {color: yellowgreen;}
}


h2 {
  font-size: 2.5rem;
}
.about__div {
  background-color: #83BD75;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}

.actions__div {
  background-color: #4E944F;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}

.happenings__div {
  background-color: #83BD75;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}

.useful__websites__div {
  background-color: #4E944F;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}

.banner__div {
  background-color: #83BD75;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
}